# Numpy

In [1]:
import numpy as np

In [5]:
from numpy import random

In [11]:
rand = random.randint(0,9)

print(rand)

7

In [12]:
rand

7

In [13]:
np.linspace(2,10,7)

array([ 2.        ,  3.33333333,  4.66666667,  6.        ,  7.33333333,
        8.66666667, 10.        ])

In [14]:
np.mean(np.linspace(2,10,9))

6.0

In [15]:
np.sqrt(np.linspace(2,10,9))

array([1.41421356, 1.73205081, 2.        , 2.23606798, 2.44948974,
       2.64575131, 2.82842712, 3.        , 3.16227766])

In [16]:
array = np.linspace(2,10,9)

In [17]:
array

array([ 2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [18]:
array + 2

array([ 4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.])

In [19]:
array - 2

array([0., 1., 2., 3., 4., 5., 6., 7., 8.])

In [20]:
array * 2

array([ 4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

In [21]:
array / 2

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

# Pandas

In [22]:
import pandas as pd

In [23]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\sahil\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sahil\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\sahil\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\sahil\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\sahil\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [24]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 10E7-B542

 Directory of C:\Users\sahil\Elite Techno Group

13-09-2021  15:16    <DIR>          .
13-09-2021  15:16    <DIR>          ..
13-09-2021  15:11    <DIR>          .ipynb_checkpoints
13-09-2021  15:10            15,057 python libraries 1.ipynb
13-09-2021  15:16             4,691 Python libraries 2.ipynb
07-09-2021  15:26            20,048 Record.ipynb
               3 File(s)         39,796 bytes
               3 Dir(s)  19,843,022,848 bytes free

In [25]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 10E7-B542

 Directory of C:\Users\sahil\Elite Techno Group

13-09-2021  15:23    <DIR>          .
13-09-2021  15:23    <DIR>          ..
13-09-2021  15:11    <DIR>          .ipynb_checkpoints
13-09-2021  15:20            19,819 GOOG.csv
13-09-2021  15:10            15,057 python libraries 1.ipynb
13-09-2021  15:18             6,607 Python libraries 2.ipynb
07-09-2021  15:26            20,048 Record.ipynb
               4 File(s)         61,531 bytes
               3 Dir(s)  19,666,255,872 bytes free

In [28]:
df = pd.read_csv("GOOG.csv")

In [29]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-14,1539.005005,1564.000000,1515.739990,1519.280029,1519.280029,1696600
1,2020-09-15,1536.000000,1559.569946,1531.834961,1541.439941,1541.439941,1331100
2,2020-09-16,1555.540039,1562.000000,1519.819946,1520.900024,1520.900024,1311700
3,2020-09-17,1496.000000,1508.297974,1470.000000,1495.530029,1495.530029,1879800
4,2020-09-18,1498.010010,1503.003052,1437.130005,1459.989990,1459.989990,3103900
...,...,...,...,...,...,...,...
246,2021-09-03,2882.919922,2907.540039,2870.100098,2895.500000,2895.500000,955200
247,2021-09-07,2894.989990,2916.479980,2890.820068,2910.379883,2910.379883,758500
248,2021-09-08,2907.870117,2911.020020,2884.000000,2897.669922,2897.669922,774300
249,2021-09-09,2897.669922,2913.389893,2888.679932,2898.270020,2898.270020,739900
250,2021-09-10,2908.870117,2920.379883,2834.830078,2838.419922,2838.419922,1643500

In [30]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-14,1539.005005,1564.000000,1515.739990,1519.280029,1519.280029,1696600
1,2020-09-15,1536.000000,1559.569946,1531.834961,1541.439941,1541.439941,1331100
2,2020-09-16,1555.540039,1562.000000,1519.819946,1520.900024,1520.900024,1311700
3,2020-09-17,1496.000000,1508.297974,1470.000000,1495.530029,1495.530029,1879800
4,2020-09-18,1498.010010,1503.003052,1437.130005,1459.989990,1459.989990,3103900

In [31]:
df.head(0)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [33]:
df['Date']

0      2020-09-14
1      2020-09-15
2      2020-09-16
3      2020-09-17
4      2020-09-18
          ...
246    2021-09-03
247    2021-09-07
248    2021-09-08
249    2021-09-09
250    2021-09-10
Name: Date, Length: 251, dtype: object

In [35]:
df['Date'].values

array(['2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17',
       '2020-09-18', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29',
       '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15',
       '2020-10-16', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-26', '2020-10-27',
       '2020-10-28', '2020-10-29', '2020-10-30', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12',
       '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24',
       '2020-11-25', '2020-11-27', '2020-11-30', '2020-12-01',
       '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-07',
       '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11',
       '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17',
       '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
       '2020-12-24', '2020-12-28', '2020-12-29', '2020-12-30',
       '2020-12-31', '2021-01-04', '2021-01-05', '2021-01-06',
       '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
       '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-19',
       '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
       '2021-02-05', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-16', '2021-02-17',
       '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23',
       '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01',
       '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
       '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
       '2021-03-12', '2021-03-15', '2021-03-16', '2021-03-17',
       '2021-03-18', '2021-03-19', '2021-03-22', '2021-03-23',
       '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-29',
       '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05',
       '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09',
       '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
       '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21',
       '2021-04-22', '2021-04-23', '2021-04-26', '2021-04-27',
       '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-03',
       '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07',
       '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13',
       '2021-05-14', '2021-05-17', '2021-05-18', '2021-05-19',
       '2021-05-20', '2021-05-21', '2021-05-24', '2021-05-25',
       '2021-05-26', '2021-05-27', '2021-05-28', '2021-06-01',
       '2021-06-02', '2021-06-03', '2021-06-04', '2021-06-07',
       '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
       '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17',
       '2021-06-18', '2021-06-21', '2021-06-22', '2021-06-23',
       '2021-06-24', '2021-06-25', '2021-06-28', '2021-06-29',
       '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-06',
       '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
       '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
       '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22',
       '2021-07-23', '2021-07-26', '2021-07-27', '2021-07-28',
       '2021-07-29', '2021-07-30', '2021-08-02', '2021-08-03',
       '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19',
       '2021-08-20', '2021-08-23', '2021-08-24', '2021-08-25',
       '2021-08-26', '2021-08-27', '2021-08-30', '2021-08-31',
       '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-07',
       '2021-09-08', '2021-09-09', '2021-09-10'], dtype=object)

In [36]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-14,1539.005005,1564.000000,1515.739990,1519.280029,1519.280029,1696600
1,2020-09-15,1536.000000,1559.569946,1531.834961,1541.439941,1541.439941,1331100
2,2020-09-16,1555.540039,1562.000000,1519.819946,1520.900024,1520.900024,1311700
3,2020-09-17,1496.000000,1508.297974,1470.000000,1495.530029,1495.530029,1879800
4,2020-09-18,1498.010010,1503.003052,1437.130005,1459.989990,1459.989990,3103900
...,...,...,...,...,...,...,...
246,2021-09-03,2882.919922,2907.540039,2870.100098,2895.500000,2895.500000,955200
247,2021-09-07,2894.989990,2916.479980,2890.820068,2910.379883,2910.379883,758500
248,2021-09-08,2907.870117,2911.020020,2884.000000,2897.669922,2897.669922,774300
249,2021-09-09,2897.669922,2913.389893,2888.679932,2898.270020,2898.270020,739900
250,2021-09-10,2908.870117,2920.379883,2834.830078,2838.419922,2838.419922,1643500

In [37]:
data = df.values

In [38]:
data

array([['2020-09-14', 1539.005005, 1564.0, ..., 1519.280029, 1519.280029,
        1696600],
       ['2020-09-15', 1536.0, 1559.569946, ..., 1541.439941, 1541.439941,
        1331100],
       ['2020-09-16', 1555.540039, 1562.0, ..., 1520.900024, 1520.900024,
        1311700],
       ...,
       ['2021-09-08', 2907.8701170000004, 2911.02002, ..., 2897.669922,
        2897.669922, 774300],
       ['2021-09-09', 2897.669922, 2913.389893, ..., 2898.27002,
        2898.27002, 739900],
       ['2021-09-10', 2908.8701170000004, 2920.3798829999996, ...,
        2838.419922, 2838.419922, 1643500]], dtype=object)

In [39]:
data[:,:]

array([['2020-09-14', 1539.005005, 1564.0, ..., 1519.280029, 1519.280029,
        1696600],
       ['2020-09-15', 1536.0, 1559.569946, ..., 1541.439941, 1541.439941,
        1331100],
       ['2020-09-16', 1555.540039, 1562.0, ..., 1520.900024, 1520.900024,
        1311700],
       ...,
       ['2021-09-08', 2907.8701170000004, 2911.02002, ..., 2897.669922,
        2897.669922, 774300],
       ['2021-09-09', 2897.669922, 2913.389893, ..., 2898.27002,
        2898.27002, 739900],
       ['2021-09-10', 2908.8701170000004, 2920.3798829999996, ...,
        2838.419922, 2838.419922, 1643500]], dtype=object)

In [40]:
data[2: , :]

array([['2020-09-16', 1555.540039, 1562.0, ..., 1520.900024, 1520.900024,
        1311700],
       ['2020-09-17', 1496.0, 1508.297974, ..., 1495.530029, 1495.530029,
        1879800],
       ['2020-09-18', 1498.01001, 1503.003052, ..., 1459.98999,
        1459.98999, 3103900],
       ...,
       ['2021-09-08', 2907.8701170000004, 2911.02002, ..., 2897.669922,
        2897.669922, 774300],
       ['2021-09-09', 2897.669922, 2913.389893, ..., 2898.27002,
        2898.27002, 739900],
       ['2021-09-10', 2908.8701170000004, 2920.3798829999996, ...,
        2838.419922, 2838.419922, 1643500]], dtype=object)

In [41]:
data[: , 2:]

array([[1564.0, 1515.73999, 1519.280029, 1519.280029, 1696600],
       [1559.569946, 1531.834961, 1541.439941, 1541.439941, 1331100],
       [1562.0, 1519.819946, 1520.900024, 1520.900024, 1311700],
       ...,
       [2911.02002, 2884.0, 2897.669922, 2897.669922, 774300],
       [2913.389893, 2888.679932, 2898.27002, 2898.27002, 739900],
       [2920.3798829999996, 2834.830078, 2838.419922, 2838.419922,
        1643500]], dtype=object)

In [42]:
data[: , 2:3]

array([[1564.0],
       [1559.569946],
       [1562.0],
       [1508.297974],
       [1503.003052],
       [1448.359985],
       [1469.52002],
       [1460.959961],
       [1443.7089839999999],
       [1450.0],
       [1476.800049],
       [1476.662964],
       [1489.75],
       [1499.040039],
       [1483.199951],
       [1488.209961],
       [1486.76001],
       [1468.959961],
       [1490.0],
       [1516.52002],
       [1593.859985],
       [1590.0],
       [1587.68396],
       [1575.10498],
       [1581.130005],
       [1588.150024],
       [1577.5],
       [1618.72998],
       [1621.98999],
       [1642.359985],
       [1638.23999],
       [1606.844971],
       [1561.349976],
       [1593.709961],
       [1687.0],
       [1660.77002],
       [1661.699951],
       [1771.3649899999998],
       [1793.640015],
       [1772.430054],
       [1818.060059],
       [1763.0],
       [1764.219971],
       [1768.27002],
       [1781.040039],
       [1799.069946],
       [1785.0],
       [1773.469971],
       [1769.589966],
       [1774.0],
       [1753.9000239999998],
       [1771.5999760000002],
       [1778.540039],
       [1804.0],
       [1788.064941],
       [1824.8299559999998],
       [1835.6500239999998],
       [1847.199951],
       [1833.160034],
       [1832.369995],
       [1821.9000239999998],
       [1834.27002],
       [1781.310059],
       [1784.449951],
       [1797.390015],
       [1771.4200440000002],
       [1773.0],
       [1771.7840579999997],
       [1755.109985],
       [1740.8499760000002],
       [1737.405029],
       [1747.9899899999998],
       [1746.0],
       [1790.7280269999999],
       [1792.439941],
       [1765.094971],
       [1758.930054],
       [1760.6500239999998],
       [1747.6700440000002],
       [1748.0],
       [1788.4000239999998],
       [1809.839966],
       [1794.314941],
       [1778.040039],
       [1765.035034],
       [1775.0100100000002],
       [1756.0],
       [1809.2750239999998],
       [1903.709961],
       [1934.859985],
       [1910.949951],
       [1929.5799559999998],
       [1925.0],
       [1890.0],
       [1898.8299559999998],
       [1857.280029],
       [1922.391968],
       [1955.7600100000002],
       [2116.5],
       [2078.550049],
       [2102.51001],
       [2123.5471190000003],
       [2105.1298829999996],
       [2108.3701170000004],
       [2102.030029],
       [2108.820068],
       [2152.679932],
       [2133.659912],
       [2132.735107],
       [2130.530029],
       [2091.419922],
       [2082.01001],
       [2100.780029],
       [2094.8798829999996],
       [2071.01001],
       [2086.52002],
       [2104.3701170000004],
       [2088.518066],
       [2089.23999],
       [2118.110107],
       [2128.810059],
       [2078.040039],
       [2075.0],
       [2125.699951],
       [2090.26001],
       [2067.060059],
       [2123.560059],
       [2109.780029],
       [2075.5],
       [2053.100098],
       [2057.98999],
       [2072.302002],
       [2078.209961],
       [2058.8701170000004],
       [2050.98999],
       [2058.429932],
       [2070.780029],
       [2093.326904],
       [2142.939941],
       [2237.310059],
       [2237.659912],
       [2255.0],
       [2284.0048829999996],
       [2289.040039],
       [2275.320068],
       [2277.209961],
       [2277.98999],
       [2306.596924],
       [2306.439941],
       [2318.449951],
       [2309.600098],
       [2295.320068],
       [2303.761963],
       [2325.820068],
       [2341.26001],
       [2337.449951],
       [2452.37793],
       [2436.52002],
       [2427.139893],
       [2419.699951],
       [2379.26001],
       [2382.199951],
       [2382.709961],
       [2416.409912],
       [2378.0],
       [2322.0],
       [2285.3701170000004],
       [2276.6010739999997],
       [2321.139893],
       [2323.340088],
       [2343.149902],
       [2316.76001],
       [2360.340088],
       [2369.0],
       [2418.47998],
       [2432.889893],
       [2442.944092],
       [2440.0],
       [2428.139893],
       [2437.970947],
       [2442.0],
       [2409.7451170000004],
       [2453.8588870000003],
       [2468.0],
       [2494.4951170000004],
       [2505.0],
       [2523.26001],
       [2526.98999],
       [2528.22998],
       [2537.23999],
       [2530.469971],
       [2543.929932],
       [2527.780029],
       [2540.735107],
       [2545.399902],
       [2555.919922],
       [2550.709961],
       [2550.100098],
       [2546.73999],
       [2540.0],
       [2516.0],
       [2529.25],
       [2576.959961],
       [2597.689941],
       [2612.798096],
       [2600.649902],
       [2596.98999],
       [2615.399902],
       [2640.840088],
       [2659.919922],
       [2651.899902],
       [2643.659912],
       [2624.939941],
       [2640.0271],
       [2652.344971],
       [2670.090088],
       [2776.169922],
       [2794.26001],
       [2800.219971],
       [2793.52002],
       [2743.030029],
       [2715.427002],
       [2720.409912],
       [2726.709961],
       [2730.76001],
       [2739.0],
       [2741.6010739999997],
       [2766.429932],
       [2771.030029],
       [2776.955078],
       [2768.360107],
       [2773.47998],
       [2779.810059],
       [2774.3701170000004],
       [2765.8798829999996],
       [2749.040039],
       [2772.290039],
       [2843.540039],
       [2860.149902],
       [2866.26001],
       [2862.696045],
       [2900.219971],
       [2929.790039],
       [2922.23999],
       [2936.409912],
       [2926.5],
       [2907.540039],
       [2916.47998],
       [2911.02002],
       [2913.389893],
       [2920.3798829999996]], dtype=object)

In [43]:
data[2:3 , 2:3]

array([[1562.0]], dtype=object)